<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18"> CA Admin Functionality</h4>
            </div>
        </div>
    </div>
    <div class="card" style="background: url(./assets/images/background_color.jpg); background-size: cover;">
        <div class="card-body">
            <h4 class="card-title mb-4">Functionality</h4>
             <div class="row">
                 <div class="col-md-6">
                    <div class="funnalitylist">
                        <ul>
                            <li>Allergens</li>
                            <li>Battery</li>
                            <li>Units</li>
                            <li>Vehicles</li>
                            <li>Relavance</li>
                            <li>Scoring Mechanism</li>
                            <li>Allergens</li>
                            <li>Upload Information sheets</li>
                            <li>Commercial Products</li>
                            <li>Supplies</li>
                            <li>Diagnosis</li>
                            <li>Useful sites</li>
                        </ul>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="funnalitylist">
                        <ul>
                            <li>Test Allergens</li>
                            <li>Chemical and Functional groups </li>
                            <li>Reactions</li>
                            <li>Certainity</li>
                            <li>Interpretations</li>
                            <li>Scoring Features</li>
                            <li>Manufactures</li>
                            <li>Set Default Batties</li>
                            <li>Common test allergence</li>
                            <li>Library</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="reqdiv">
                        <div class="left">
                            <h4>Request form</h4>
                            <p>Non Stack Requisite form - CA Unit</p>
                        </div>
                        <div class="right">
                            <p>Pharmacy request sheet for Patch test - CA Unit</p>
                        </div>
                    </div>
                </div>
             </div>
            <!-- end table-responsive -->
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Create Allergen</h4>  
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Allergen type : <span class="text-danger">*</span></label>
                        <select class="form-control">
                            <option value="1">Substance</option>
                            <option value="2">Mix</option>
                            <option value="3">Product</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Preferred Name : <span class="text-danger">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                    
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Inci Name</label>
                        <input type="text" class="form-control">
                    </div>
                    
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Synonym(s) : <span class="text-danger">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                    
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Uses</label>
                        <input type="text" class="form-control">
                    </div> 
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Sources</label>
                        <input type="text" class="form-control">
                    </div> 
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Comments</label>
                        <input type="text" class="form-control">
                    </div> 
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Chemical/Functional Group</label>
                        <input type="text" class="form-control">
                    </div> 
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Product Category</label>
                        <input type="text" class="form-control">
                    </div> 
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Recom Conn. and vehicles</label>
                        <input type="text" class="form-control">
                    </div> 
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Abbreviation</label>
                        <input type="text" class="form-control">
                    </div> 
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Germen Name</label>
                        <input type="text" class="form-control">
                    </div> 
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> CAS No.</label>
                        <input type="text" class="form-control">
                    </div> 
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Cross Reaction</label>
                        <input type="text" class="form-control">
                    </div> 
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Contact unit </label>
                        <select class="form-control">
                            <option value="1">Yes</option>
                            <option value="2" selected>No</option>
                        </select>
                    </div> 
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Photosperaty</label>
                        <select class="form-control">
                            <option value="1">Yes</option>
                            <option value="2" selected>No</option>
                        </select>
                    </div> 
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Patch Test Sensitation</label>
                        <select class="form-control">
                            <option value="1">Yes</option>
                            <option value="2" selected>No</option>
                        </select>
                    </div> 
                </div>
                <div class="col-md-12">
                    <div class="form-group text-center">
                        <input type="button" class="btn btn-danger" value="Submit">
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>