<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Appointment List</h4>
                <!-- <h4 class="card-title mb-4">Appointment List</h4> -->
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Welcome to Amersoft</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->
 <div class="card appointmentlist">
   <div class="card-body">
       <div class="row">
          <div class="col-sm-2"> 
            <label>Patient Name </label>
            <p>Sunil kumar yadav</p>
            <label>Clinic Date | Time</label>
            <p>22/12/2020 | 06:00 pm</p>
          </div>

          <div class="col-sm-1 p-sm-0"> 
            <label>DOB</label>
            <p>01/01/1995</p>
          </div>
          <div class="col-sm-1 p-sm-0"> 
            <label>MRN NHSN </label>
            <p> 123456 </p>
          </div>

          <div class="col-sm-1"> 
            <label>Type</label>
            <p>NHS</p>
          </div>
          <div class="col-sm-2"> 
            <label>Clinic(Clinic Code)</label>
            <p>Patch Test NHS</p>
          </div>
          <div class="col-sm-1 p-sm-0"> 
            <label>PC Seen By</label>
            <p>Ortan, David</p>
          </div>
          <div class="col-md-4">
              <div class="row">
                 <div class="col-sm-2">
                    <label>N/O</label>
                    <p></p>
                 </div>
                 <div class="col-sm-2">
                  <label>Ref</label>
                  <p></p>
               </div>
               <div class="col-sm-2">
                <label>Visit</label>
                <p></p>
             </div>
              <div class="col-sm-2">
                 <label>F/U</label>
                 <p></p>
              </div>
              <div class="col-sm-2">
                <label>HRG</label>
                <p></p>
             </div>
             <div class="col-sm-2">
              <label>Letter</label>
              <p></p>
           </div>
              </div>
          </div>
          <div class="readmore">
            <div class="dropdown dropleft">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='bx bx-dots-vertical-rounded'></i></a>
                <div class="dropdown-menu">

                  <a class="dropdown-item edit" href="#">Edit <i class='bx bx-edit-alt'></i></a>
                  <a class="dropdown-item delete" href="#">Delete <i class='bx bxs-trash'></i></a>
                  
                </div>
            </div>
          </div>
         </div>
      </div>
  </div>

  <div class="card appointmentlist">
    <div class="card-body">
        <div class="row">
           <div class="col-sm-2"> 
             <label>Patient Name </label>
             <p>Sunil kumar yadav</p>
             <label>Clinic Date | Time</label>
             <p>22/12/2020 | 06:00 pm</p>
           </div>

           <div class="col-sm-1 p-sm-0"> 
             <label>DOB</label>
             <p>01/01/1995</p>
           </div>
           <div class="col-sm-1 p-sm-0"> 
             <label>MRN NHSN </label>
             <p> 123456 </p>
           </div>

           <div class="col-sm-1"> 
             <label>Type</label>
             <p>NHS</p>
           </div>
           <div class="col-sm-2"> 
             <label>Clinic(Clinic Code)</label>
             <p>Patch Test NHS</p>
           </div>
           <div class="col-sm-1 p-sm-0"> 
             <label>PC Seen By</label>
             <p>Ortan, David</p>
           </div>
           <div class="col-md-4">
               <div class="row">
                  <div class="col-sm-2">
                     <label>N/O</label>
                     <p></p>
                  </div>
                  <div class="col-sm-2">
                   <label>Ref</label>
                   <p></p>
                </div>
                <div class="col-sm-2">
                 <label>Visit</label>
                 <p></p>
              </div>
               <div class="col-sm-2">
                  <label>F/U</label>
                  <p></p>
               </div>
               <div class="col-sm-2">
                 <label>HRG</label>
                 <p></p>
              </div>
              <div class="col-sm-2">
               <label>Letter</label>
               <p></p>
            </div>
               </div>
           </div>
           <div class="readmore">
             <div class="dropdown dropleft">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='bx bx-dots-vertical-rounded'></i></a>
                 <div class="dropdown-menu">

                   <a class="dropdown-item edit" href="#">Edit <i class='bx bx-edit-alt'></i></a>
                   <a class="dropdown-item delete" href="#">Delete <i class='bx bxs-trash'></i></a>
                   
                 </div>
             </div>
           </div>
          </div>
       </div>
   </div>
   
   <div class="card appointmentlist">
    <div class="card-body">
        <div class="row">
           <div class="col-sm-2"> 
             <label>Patient Name </label>
             <p>Sunil kumar yadav</p>
             <label>Clinic Date | Time</label>
             <p>22/12/2020 | 06:00 pm</p>
           </div>

           <div class="col-sm-1 p-sm-0"> 
             <label>DOB</label>
             <p>01/01/1995</p>
           </div>
           <div class="col-sm-1 p-sm-0"> 
             <label>MRN NHSN </label>
             <p> 123456 </p>
           </div>

           <div class="col-sm-1"> 
             <label>Type</label>
             <p>NHS</p>
           </div>
           <div class="col-sm-2"> 
             <label>Clinic(Clinic Code)</label>
             <p>Patch Test NHS</p>
           </div>
           <div class="col-sm-1 p-sm-0"> 
             <label>PC Seen By</label>
             <p>Ortan, David</p>
           </div>
           <div class="col-md-4">
               <div class="row">
                  <div class="col-sm-2">
                     <label>N/O</label>
                     <p></p>
                  </div>
                  <div class="col-sm-2">
                   <label>Ref</label>
                   <p></p>
                </div>
                <div class="col-sm-2">
                 <label>Visit</label>
                 <p></p>
              </div>
               <div class="col-sm-2">
                  <label>F/U</label>
                  <p></p>
               </div>
               <div class="col-sm-2">
                 <label>HRG</label>
                 <p></p>
              </div>
              <div class="col-sm-2">
               <label>Letter</label>
               <p></p>
            </div>
               </div>
           </div>
           <div class="readmore">
             <div class="dropdown dropleft">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='bx bx-dots-vertical-rounded'></i></a>
                 <div class="dropdown-menu">

                   <a class="dropdown-item edit" href="#">Edit <i class='bx bx-edit-alt'></i></a>
                   <a class="dropdown-item delete" href="#">Delete <i class='bx bxs-trash'></i></a>
                   
                 </div>
             </div>
           </div>
          </div>
       </div>
   </div>

    <h5 class="mt-4 text-right">Total No. of Records : 6</h5>
    <!-- end table-responsive -->
    <div class="appointmentbtn">
        <div class="button-items mt-4 text-center">
            <button type="button" class="btn btn-danger waves-effect waves-light">Print List</button>
            <button type="button" class="btn btn-secondary waves-effect waves-light">Refresh</button>
        </div>
    </div>

    <!-- end row -->
</div>